.search-form {
    overflow: hidden;
    margin-top: 15px;
    display: block;
    @media screen and (max-width: 1024px) {
        padding-bottom: 30px;
    }
    > label {
        display: block;
        float: left;
        input {
            float: none;
        }
    }
    .search-submit {
        @extend .button;
        height: 40px;
        padding: 10px 20px;
        line-height: 1;
        margin-top: 0!important;
        float: none;
        top: 0;
    }
    .search-field {
        @include placeholder($brand-color-gray, 14px, 600);
        font-family: $font-main;
        font-size: 15px;
        height: 40px;
        line-height: 20px;
        padding: 9px 10px;
        border: 1px solid $brand-color-soft-gray;
        color: $brand-color-gray;
        background: $brand-color-soft-gray;
        border-radius: 0;
        @media screen and (min-width: 1025px) and (max-width: 1150px) {
            width: 150px;
        }
        &:focus {
            border-color: $brand-color-primary!important;
            color: $brand-color-main;
        }
    }
    @media screen and (min-width: 768px) {
        .search-submit {
            float: left;
        }
        .search-field {
            float: left;
            margin-right: 10px;
        }
    }
    @media screen and (max-width: 767px) {
        position: relative;
        padding-right: 140px;
        .search-field {
            width: 100%;
        }
        .search-submit {
            @include position-absolute(right, 0, top, 0);
            max-width: 130px;
        }
    }
}

article {
    &.post,
    &.page,
    &.tribe_events {
        padding-bottom: 40px;
        .entry-content {
            &::after {
                @include clear();
            }
        }
        .newsItemImg {
            float: right;
            margin: 0 0 10px 10px;
            img {
                max-width: 360px;
                width: 100%;
            }
            @media screen and (max-width: 479px) {
                float: none;
                margin: 0 0 10px 0;
                img {
                    max-width: none;
                }
            }
        }
        .entry-header {
            h3 {
                margin-bottom: 10px;
            }
            .entry-meta {
                font-size: 12px;
                a {
                    color: $brand-color-gray;
                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
        .entry-summary {
            margin: 0;
        }
        .entry-footer {
            .comments-link,
            .edit-link {
                display: block;
                float: left;
                margin-left: 15px;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            &::after {
                @include clear();
            }
        }
    }
}
.comment-form-comment {
    textarea {
        border-radius: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 100px;
        min-height: 100px;
        overflow-y: auto;
        vertical-align: top;
    }
}

.comment-form-url,
.comment-form-email,
.comment-form-comment,
.comment-form-author {
    label {
        display: block;
    }
    input,
    textarea {
        border-radius: 0;
        border-color: $brand-color-soft-gray;
        background: $brand-color-soft-gray;
        color: $brand-color-gray;
        font-size: 14px;
    }
}

a[href^="tel"]{
    color: inherit;
    text-decoration: none;
}

.nav-links {
    padding: 10px 0 40px;
    overflow: hidden;
    .nav-previous,
    .nav-next {
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            white-space: nowrap;
            @media screen and (max-width: 767px) {
                margin: 0!important;
            }
        }
        @media screen and (max-width: 479px) {
            width: 100%;
            float: none;
            margin-bottom: 10px;
            a {
                max-width: none;
            }
        }
    }
    a {
        @extend .button;
    }
    @media screen and (max-width: 767px) {
        a {
            display: block;
            width: 100%;
        }
    }
}