/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600');
@import "../plugins/dropkick";
@import "../plugins/preloader";

/*variables*/
$font-main: 'Source Sans Pro', sans-serif;
//$font-main-semibold: 'source_sans_prosemibold';
//$font-main-normal: 'source_sans_proregular';
//$font-main-italic: 'source_sans_prolight_italic';
$font-size: 16px;
$brand-color-main: #053c46;
$brand-color-primary: #19325b;
$brand-color-secondary: #00a197;
$brand-color-link: #3578c6;
$brand-color-green: #96c11f;
$brand-color-brown: #ae9a63;
$brand-color-gray: #363838;
$brand-color-soft-gray: #f5f5f5;